{% extends 'components/navbar.html' %}

{% block content %}
<h1>Products</h1>

{% for p in product %}
    <div class="card" style="width: 18rem;">
        <img src="{{ p.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ p.title }} {{ p.price }}</h5>
            <p class="card-text">{{ products.description }}</p>
            <a href="{{ p.id }}" class="btn btn-primary">Читать...</a>
        </div>
    </div>
{% endfor %}

{% endblock %}